In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [5]:
df = pd.read_csv(r"C:\Users\HP\Desktop\Transformed Data Set - Sheet1.csv")

In [6]:
df.head()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,Cool,Rock,Vodka,7UP/Sprite,F
1,Neutral,Hip hop,Vodka,Coca Cola/Pepsi,F
2,Warm,Rock,Wine,Coca Cola/Pepsi,F
3,Warm,Folk/Traditional,Whiskey,Fanta,F
4,Cool,Rock,Vodka,Coca Cola/Pepsi,F

In [7]:
df['Favorite Color'].value_counts()

Cool       37
Warm       22
Neutral     7
Name: Favorite Color, dtype: int64

In [8]:
df['Favorite Music Genre'].value_counts()

Rock                19
Pop                 17
Electronic           8
Hip hop              8
R&B and soul         6
Jazz/Blues           4
Folk/Traditional     4
Name: Favorite Music Genre, dtype: int64

In [9]:
df['Favorite Beverage'].value_counts()

Doesn't drink    14
Beer             13
Other            11
Wine             10
Vodka             9
Whiskey           9
Name: Favorite Beverage, dtype: int64

In [10]:
df['Favorite Soft Drink'].value_counts()

Coca Cola/Pepsi    32
Fanta              14
7UP/Sprite         13
Other               7
Name: Favorite Soft Drink, dtype: int64

In [11]:
df['Gender'].value_counts() 

##kadın ve erkek sayıları eşit bu güzel bir durum güzel classify edebilmek adına

M    33
F    33
Name: Gender, dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Favorite Color        66 non-null     object
 1   Favorite Music Genre  66 non-null     object
 2   Favorite Beverage     66 non-null     object
 3   Favorite Soft Drink   66 non-null     object
 4   Gender                66 non-null     object
dtypes: object(5)
memory usage: 2.7+ KB

In [11]:
df.shape 

##shape de 66, non-null object sayısı da 66 demek ki NaN değerler ile uğraşmamız gerekmiyor

(66, 5)

In [13]:
df.describe()

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
count,66,66,66,66,66
unique,3,7,6,4,2
top,Cool,Rock,Doesn't drink,Coca Cola/Pepsi,M
freq,37,19,14,32,33

In [14]:
label = LabelEncoder()

#labelEncoder gender encode'layacak çünkü target values için kullanılmalı, diğer sütunlar ise OrdinalEncoder'la.

ordinal = OrdinalEncoder()

In [15]:
df['Gender'] = label.fit_transform(df['Gender']) #female 0, male 1
df['Favorite Color'] = label.fit_transform(df['Favorite Color'])
df['Favorite Music Genre'] = label.fit_transform(df['Favorite Music Genre'])
df['Favorite Beverage'] = label.fit_transform(df['Favorite Beverage'])
df['Favorite Soft Drink'] = label.fit_transform(df['Favorite Soft Drink'])

df

,Favorite Color,Favorite Music Genre,Favorite Beverage,Favorite Soft Drink,Gender
0,0,6,3,0,0
1,1,2,3,1,0
2,2,6,5,1,0
3,2,1,4,2,0
4,0,6,3,1,0
...,...,...,...,...,...
61,0,6,3,1,1
62,0,2,0,1,1
63,1,2,1,2,1
64,0,6,5,1,1
65,0,0,0,1,1

In [32]:
# şimdi sırasıyla knn, svm ve logistic regression ile sınıflandırma yapacağız.

gender_feat = df.loc[:, df.columns != 'Gender']
gender_target = pd.DataFrame(df['Gender'].values)

In [60]:
X_train, X_test, Y_train, Y_test = train_test_split(gender_feat, gender_target, test_size=0.05, random_state=42)

# test-train ayrımı 0.05 olduğunda en yüksek verimi aldık

### K-Nearest Neighbors

In [61]:
knn = KNeighborsClassifier(n_neighbors = 6).fit(X_train, Y_train.values.ravel()) 

# en iyi neighbor sayısı 6 gibi görünüyor
  
# accuracy on X_test 
accuracy = knn.score(X_test, Y_test) 
print("Accuracy:",accuracy)

Accuracy: 1.0

### Support Vector Machine

In [62]:
clf = SVC()    
clf.fit(X_train, Y_train.values.ravel())

accuracy = clf.score(X_test, Y_test)
print("Accuracy:",accuracy)

Accuracy: 1.0

### Logistic Regression

In [63]:
clf = LogisticRegression(random_state=3).fit(X_train, Y_train.values.ravel()) #random state en iyi 3 olarak görünüyor

clf.score(X_test, Y_test)
print("Accuracy:",accuracy)

Accuracy: 1.0